<% layout('layouts/boilerplate') -%>

<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="text-center">Edit Campground</h2>
    <form class="needs-validation" action="/campground/<%= camp.id %>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate>

      <div>
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="campground[title]" value="<%= camp.title %>" class="form-control" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div>
        <label for="Location" class="form-label">Location</label>
        <input type="text" id="Location" name="campground[location]" value="<%= camp.location %>" class="form-control" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div>
        <label for="Image" class="form-label">Add more images</label>
        <input type="file" id="Image" name="images" class="form-control image-input" multiple="multiple">
        <div class="valid-feedback">
          Looks good!
        </div>
        <% camp.images.forEach((image,i) => { %>
        <div class="card w-200 d-inline-flex my-2" style="width: 18rem;">
          <img src="<%= image.imageThumbnailURL %>" class="card-img-top" alt="campground Image">
          <div class="card-body">
            <input class="form-check-input" type="checkbox" name="deletedImages[]" value="<%= image.filename %>" id="image-<%= i %>">
            <label class="form-check-label" for="image-<%= i %>">
              Delete Image
            </label>
          </div>
        </div>
        <% }) %>
      </div>
      <div>
        <label for="CampgroundPrice" class="form-label">Campground Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input type="text" id="CampgroundPrice" class="form-control" name="campground[price]" value="<%= camp.price %>" placeholder="0.00" aria-label="Amount (to the nearest dollar)" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>
      <div>
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="campground[description]" class="form-control" required><%=camp.description%></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <button class="btn btn-info my-3">Edit Campground</button>
      <div><a class="btn btn-info" href="/campground/<%= camp._id  %>">Cancel Edit</a></div>
    </form>
  </div>
</div>