<% layout('layouts/boilerplate') -%>
<div id="map-cluster"></div>
<h1>All campgrounds</h1>
<h2><a class="btn btn-info btn-lg" href="/campground/new">add campground</a></h2>
<% for(camp of camps){ %>
<div class="card mb-3" ">
  <div class=" row">
  <div class=" col-md-4">
    <img src="<%= (camp.images.length==0?"https://res.cloudinary.com/dlspn2686/image/upload/v1694270907/campground_images/o4_ltcvuo.jpg":camp.images[0].imageURL) %>" class="img-fluid rounded-start" alt="campground image">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title"><%= camp.title %></h5>
      <p class="card-text"><%= camp.description %></p>
      <p class="card-text"><small class="text-muted"><%= camp.location %></small></p>
      <a href="/campground/<%= camp._id %>" class="btn btn-primary">view <%= camp.title %></a>
    </div>
  </div>
</div>
</div>

<% } %>
<script>
  let campgrounds = {
    features: <%- JSON.stringify(camps) %>
  };
  let MAPBOXACCESSTOKEN = "<%- process.env.MAP_BOX_TOKEN %>";
</script>
<script src="/scripts/clusterMap.js"></script>